---
import Contactform from "@components/contactform.astro";
import Container from "@components/container.astro";

import Features from "@components/features.astro";

import Hero from "@components/hero.astro";
import heroImage from "assets/hero.png";

import Layout from "@layouts/Layout.astro";

import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";

import Sectionhead from "@components/sectionhead.astro";

// Hero text appears in the top section of the landing page next to the logo
const heroText = `We are seasoned experts in cybersecurity, R&D, and software engineering. 
  Our team is committed to providing tailored security solutions that protect critical systems and data from evolving threats.`
    
// Content displayed in the "Our Team" section
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Content displayed in the "Our Services" section
const services = [
  {
    title: "Security Engineering",
    description: 
      `Empower your security initiatives with customized tools, advanced vulnerability remediation, comprehensive code audits, and penetration testing. We protect your software throughout development, testing, and deployment, ensuring robust security for your critical systems.`,
    icon: "bx:bxs-customize",
  },
  {
    title: "Research and Development",
    description:
      `Address complex security challenges with advanced vulnerability research and exploit development. 
      We deliver innovative solutions, from identifying vulnerabilities to developing custom exploits, ensuring robust protection for your systems.`,
    icon: "bx:bxs-lock-open",
  },
  {
    title: "Training and Consulting",
    description:
      `Enhance your security posture and level up your teams with our
       expert guidance. We offer comprehensive consulting on SEC & industry 
       compliant risk management processes & procedures alongside tailored training
       for security architecture, implementation, software security, 
       threat modeling and more.`,
    icon: "bx:bxs-book",
  },
  {
    title: "Incident Response and Forensics",
    description:
      `Enhance your security posture with our expertise in threat intelligence and forensics. Our team conducts detailed forensic analyses and delivers actionable insights to help you understand and mitigate threats, ensuring your systems are resilient against future attacks.`,
    icon: "bx:bxs-search-alt-2",
  },
];

---

<Layout title="Dunegroup.xyz">
  
  <Container title="hero">
    <Hero 
    text={heroText}
    image={heroImage}
    alt={`
    Line art depiction of a desert planet, perhaps Arrakis, covered with sand dunes.
     Twin suns are visible setting in the distance beyond the dunes.
    `}
     />
  </Container>
  
  <section id="team"></section>
  <Container title="team">
    <Sectionhead>
      <Fragment slot="title">Our Team</Fragment>
      <Fragment slot="desc"><b>Proven</b> security practitioners, with <b>deep</b> engineering <b>expertise</b></Fragment>      
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width: 800px) 100vw, 400px"
                width={400}
                height={400}
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl bg-white object-cover object-center aspect-square"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">{teamMemberEntry.data.name}</h2>
              <br>
              <h4 class="text-md text-slate-500">
                {teamMemberEntry.data.title}
              </h4>
              <br>
            </div>
          </div>
        ))
      }
    </div>
  </Container>


  <section id="services"></section>
  <Container title="services">
    <Sectionhead>
      <Fragment slot="title">Our Services</Fragment>
      <Fragment slot="desc">At your disposal</Fragment>
    </Sectionhead>
    <Features
      data={services}
    />
  </Container>

  <section id="contact"></section>
  <Container title="contact">
    <Sectionhead>
      <Fragment slot="title">Contact Us</Fragment>
      <Fragment slot="desc">We are here to help</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Dune Group</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          Interested in learning more? We are here to help. Fill out this form or send
          us an email.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
            <a href="mailto:contact@dunegroup.xyz">contact@dunegroup.xyz</a>
          </div>
          
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>

</Layout>


 